.header {
  position: absolute;
  padding: 20px 0;
  width: 100%;
  right: 0;
  top: 0;
  &__inner {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
  }
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    fa-icon {
      font-size: 30px;
      color: #fff;
    }
  }
}

@media (max-width: 500px) {
  .header__inner {
    gap: 15px;
  }
}
