<app-header></app-header>
<section class="section dictionary container">
  <div class="inner dictionary__inner">
    <form
      [formGroup]="dictionaryForm"
      class="dictionary__form dictionary__part"
    >
      <h1 class="main__title">
        {{ "English dictionary by Drake21 on RxJS" | uppercase }}
      </h1>
      <ui-custome-input
        widthValue="80%"
        formControlName="word"
        placeholder="Search a meaning a word..."
        (inputChange)="onInputChange($event)"
      ></ui-custome-input>
      <div
        class="dictionary__reset-wrapper"
        *ngIf="(this.mutualDictionaryProfile.favourites$$ | async)?.length"
      >
        <ui-custom-btn
          (click)="mutualDictionaryProfile.onClearAllFavs()"
          text="Clear a favourites"
          color="#008060"
          width="50%"
          >Clear a favourites</ui-custom-btn
        >
      </div>
      <div *ngIf="mutualDictionaryProfile.message$$ | async as message">
        <ng-container *ngIf="message.type === 'delete'">
          <p class="message">{{ message.text | uppercase }}</p></ng-container
        >
      </div>
    </form>
    <div
      class="dictionary__results dictionary__part"
      *ngIf="{
        words: mutualDictionaryProfile.words$$ | async,
        error: mutualDictionaryProfile.error$$ | async
      } as data"
    >
      @if(!data.error) {
      <div>
        <div *ngIf="mutualDictionaryProfile.message$$ | async as message">
          <ng-container *ngIf="message.type === 'add'">
            <p class="message">{{ message.text | uppercase }}</p></ng-container
          >
        </div>
      </div>
      <ng-container *ngIf="data.words?.length; else emptyResult">
        <div *ngFor="let word of data.words" class="dictionary__list-wrapper">
          <h2 style="display: block" class="dictionary__list-title">
            {{ word.word }}
          </h2>
          <ul class="dictionary__list">
            <li
              *ngFor="let meaning of word.meanings"
              class="dictionary__list-item"
            >
              <h4 class="dictionary__list-item__desc">
                Part of speech:
                <span class="dictionary__list-item__span">{{
                  meaning.partOfSpeech
                }}</span>
              </h4>
              <ul class="dictionary__list-item__defs">
                <ng-container *ngFor="let definition of meaning.definitions"
                  ><li class="dictionary__list-item__def">
                    {{ definition.definition }}
                  </li></ng-container
                >
              </ul>
            </li>
          </ul>
        </div>
        <ui-custom-btn
          *ngIf="!(isFavourite$ | async)"
          (onClick)="onAddToFavs()"
          text="Add to Favourites"
        ></ui-custom-btn>
      </ng-container>
      } @else {
      <p class="error dictionary__special">{{ data.error }}</p>
      }
      <ng-template #emptyResult>
        <p class="dictionary__special">Lets start to explore!</p>
      </ng-template>
    </div>
  </div>
</section>
