<app-header></app-header>
<section class="section container">
  <div class="inner dictionary__inner">
    <form
      [formGroup]="dictionaryForm"
      class="dictionary__form dictionary__part"
    >
      <h1 class="main__title">
        {{ "English dictionary by Drake21 on RxJS" | uppercase }}
      </h1>
      <ui-custome-input
        widthValue="80%"
        formControlName="word"
        placeholder="Search a meaning a word..."
        (inputChange)="onInputChange($event)"
      ></ui-custome-input>
      <div
        class="dictionary__reset-wrapper"
        *ngIf="(favourites$$ | async)?.length"
      >
        <ui-custom-btn
          (click)="onClearAllFavs()"
          text="Clear a favourites"
          color="#008060"
          width="50%"
          >Clear a favourites</ui-custom-btn
        >
      </div>
    </form>
    <div
      class="dictionary__results dictionary__part"
      *ngIf="{ words: words$$ | async, error: error$$ | async } as data"
    >
      @if(!data.error) {
      <ng-container *ngIf="data.words?.length; else emptyResult">
        <div *ngFor="let word of data.words">
          <h2 style="display: block">
            {{ word.word }}
          </h2>
          <ul>
            <li *ngFor="let meaning of word.meanings">
              <h4>
                Part of speech: <span>{{ meaning.partOfSpeech }}</span>
              </h4>
              <ng-container *ngFor="let definition of meaning.definitions">{{
                definition.definition
              }}</ng-container>
            </li>
          </ul>
        </div>
        <ui-custom-btn
          (onClick)="onAddToFavs()"
          text="Add to Favourites"
        ></ui-custom-btn>
      </ng-container>

      } @else {
      <p class="error dictionary__special">{{ data.error }}</p>
      }
      <ng-template #emptyResult>
        <p class="dictionary__special">Lets start to explore!</p>
      </ng-template>
    </div>
  </div>
</section>
