<app-header></app-header>
<section class="container profile">
  <div class="inner profile__inner">
    <div
      *ngIf="visibleFavourites$$ | async as favourites"
      class="profile__list-wrapper"
    >
      <ul class="profile__list">
        <li
          *ngFor="let fav of favourites"
          class="profile__list-item"
          (dblclick)="onNavigateByWord(fav)"
        >
          <span class="profile__list-item__span">{{ fav }}</span>
          <button
            class="profile__list-item__close"
            type="button"
            (click)="onClearFav(fav)"
          >
            <fa-icon
              [icon]="faClose"
              class="profile__list-item__icon"
            ></fa-icon>
          </button>
        </li>
      </ul>
      <ui-custom-btn
        *ngIf="favourites.length; else noFavourites"
        (click)="onClearAllFavs()"
        text="Remove all"
        color="rgb(255, 28, 28)"
      ></ui-custom-btn>
      <div class="profile__pagination" *ngIf="favourites.length">
        <button
          class="profile__pagination-btn"
          type="button"
          (click)="prevPage()"
        >
          Previous
        </button>
        <p class="profile__pagination-text">
          Page {{ currentPage$$ | async }} of {{ calcPageCount() }}
        </p>
        <button
          class="profile__pagination-btn"
          type="button"
          (click)="nextPage()"
        >
          Next
        </button>
      </div>
    </div>

    <ng-template class="profile__exception" #noFavourites>
      <p class="profile__exception-text">You didn't highlight any word</p>
    </ng-template>
  </div>
</section>
