.profile {
  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    width: 100%;
  }
  &__top {
    display: flex;
    align-items: center;
    gap: 30px;
    &-img {
      height: 300px;
      &__wrapper {
      }
    }
    &-info {
      &__email {
        font-size: 40px;
        line-height: 46px;
      }
      &__name {
        font-size: 30px;
        line-height: 36px;
      }
    }
  }
  &__bottom {
    width: 100%;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    list-style: none;
    margin-bottom: 20px;
    &-wrapper {
      width: 100%;
    }
    &-title {
      font-size: 36px;
      line-height: 40px;
      text-align: center;
      margin-bottom: 25px;
    }
    &-item {
      position: relative;
      padding: 15px 0;
      border: 1px solid #000;
      background-color: #ffffff;
      cursor: pointer;
      &__span {
        display: block;
        text-align: center;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
      }
      &__close {
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
        background-color: transparent;
        border: none;
      }
      &__icon {
        font-size: 18px;
      }
    }

    &-btn {
    }
  }
  &__pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    gap: 10px;
    &-text {
      font-weight: 700;
    }
    &-btn {
      background-color: #000;
      color: #fff;
      padding: 10px 15px;
      border: none;
      cursor: pointer;

      &:disabled {
        background-color: #ccc;
        pointer-events: none;
      }
    }
  }
  &__exception {
    &-text {
      text-align: center;
      font-size: 24px;
      line-height: 28px;
      font-weight: 700;
    }
  }
}
