<section class="section container">
  <div class="sign-in__inner inner">
    <div class="sign-in__logo-wrapper">
      <img class="sign-in__logo" src="/assets/logo.png" alt="logo" />
    </div>
    <div [class.signed-in]="isSignedIn">
      <ui-google-btn (onSignIn)="signIn()"></ui-google-btn>
    </div>
    <div [class.signed-in]="!isSignedIn">
      <p>Are you sure that you want to sign out?</p>
      <div>
        <auth-sign-out></auth-sign-out>
        <button type="button" (click)="onCancel()">Cancel</button>
      </div>
    </div>
  </div>
</section>
