<section class="section container">
  <div class="sign-in__inner inner">
    <div class="sign-in__logo-wrapper">
      <img class="sign-in__logo" src="/assets/logo.png" alt="logo" />
    </div>
    <div [ngClass]="{ 'not_signed-in': !isSignedIn }">
      <button
        class="firebaseui-idp-google flex-center--all noselect"
        (click)="signIn()"
      >
        <span class="firebaseui-idp-icon-wrapper">
          <img
            class="firebaseui-idp-icon"
            alt="logo"
            src="https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/google.svg"
          />
        </span>
        <span class="firebaseui-idp-text firebaseui-idp-text-long">
          Sign in with Google
        </span>
      </button>
      <button (click)="signOut()">Sign Out</button>
    </div>
  </div>
</section>
