.sign-in {
  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  &__logo {
    width: 100%;
    &-wrapper {
      max-width: 1000px;
      width: 100%;
    }
  }
}

.signed-in {
  display: none;
}

.not__sign-up {
  display: block;
}
