:root {
  --accent-1: #a682ff;
  --accent-2: #5887ff;
  --accent-3: red;
}

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #715aff;
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
}

.body {
  background-color: rgba(#55c1ff, 0.5);
  color: #102e4a;
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1480px;
  padding: 0 10px;
  margin: 0 auto;
  height: 100%;
}

.section {
  min-height: calc(100vh - 156px);
  height: 100%;
}

.inner {
  min-height: calc(100vh - 156px);
}

.main__title {
  text-align: center;
  font-size: 34px;
  line-height: 40px;
}

.error {
  color: black;
}

.error__wrapper {
  background-color: var(--accent-3);
  padding: 10px;
  font-weight: 600;
  border-radius: 10px;
}

.message {
  text-align: center;
  color: var(--accent-3);
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

@media (max-width: 684px) {
  .section {
    min-height: calc(100vh - 136px);
  }
  .error__wrapper {
    padding: 5px;
  }
  .message {
    font-size: 18px;
    line-height: 22px;
  }
}

@media (max-width: 500px) {
  .section {
    min-height: calc(100vh - 128px);
  }
  .error__wrapper {
    text-align: center;
  }
  .message {
    font-size: 16px;
    line-height: 20px;
  }
}
